<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas laudantium nihil quas voluptatibus
                perferendis repellendus ea eligendi, repellat voluptatem nulla, corrupti magnam accusamus non
                aperiam mollitia. Culpa voluptas animi facere?</p>
        </div>
        <a href="" class="btn btn--secondary">Get Started</a>
    </div>
</div>