<div class="media">
    <div class="media__image">
        <img src="https://i.picsum.photos/id/282/60/60.jpg?hmac=xOn7GWII0sRR_RoJOrONykP-jkN1xzy8sp674TCP7E0" alt="">
    </div>
    <div class="media__body">
        <h3 class="media__title">Hello World</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel veniam, consectetur minus veritatis
            repudiandae harum, sint deleniti quo similique autem nisi reiciendis soluta iusto impedit! Nobis
            deserunt rem ex?</p>
    </div>
</div>