<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis libero expedita, amet quis aliquam
        quia
        unde labore illum a rem dolorum accusamus repudiandae officia. Ut harum repudiandae similique quae!
    </p>
    <footer>
        <div class="media">
            <div class="media__image quote__line">
                <img src="https://i.picsum.photos/id/637/200/2.jpg?hmac=iIglPkxrt2e39XlUuN4gAM97VUCcqFmot1phaBPBN6A"
                    alt="">
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC company</p>
            </div>
        </div>
    </footer>
</blockquote>